.btn_info{
    padding: 8px 10px;
    background: skyblue;
    color: #fff;
    -webkit-text-decoration: nonel;
    text-decoration: nonel;
    margin-right: 5px;
    border-radius: 3px;
    font-size: 16px;
}