.text-success{
    color: green;
}
.text-danger{
    color: red;
}
.text-italic{
    text-emphasis-style: italic;
}
.table_border{
    border: 1px solid #333;
}
.table_border tr,.table_border tr td,.table_border tr th{
    border: 1px solid #333;
    padding: 10px;
}
.table_border a{
    margin: 5px;
    
}
.btn_info{
    padding: 5px;
    background: skyblue;
    color: #fff;
    text-decoration: nonel;
}
.btn_danger{
    padding: 5px;
    background: red;
    color: #fff;
    text-decoration: nonel;
}

.search_input{
    padding: 10px;
    width: 40%;
}