<h1>Student List</h1>
<form acction="" method="get">
    <input type="text" value="query" [class]="search_input">
    <input type="submit" value="Search" [class]="btn_info">
</form>
<br/>
{{students}}
<table [class]="table_class">
    <thead>
        <tr>
            <th>SL</th>
            <th>Name</th>
            <th>Reg no</th>
            <th>Email</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>01</td>
            <td>Maruf Al Bashir</td>
            <td>1001</td>
            <td>marufalbashir@gmail.com</td>
            <td>Uttara Dhaka Bangladesh</td>
            <td>
                <a href="#" [class]="btn_info">edit</a>
                <a href="#" [class]="btn_danger">delete</a>
            </td>

        </tr>
    </tbody>
</table>